<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="/layout :: head"></head>

<body>
  <div th:replace="layout::headerNav"></div>

  <div class="container">
    <div class="row">
      <div th:replace="layout::sidebarMenu"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div th:replace="layout::title(実績管理)"></div>
        <div class="form-container w-50">
          <form method="post" action="#" th:action="@{/archievement/insert}" th:object="${archievementForm}"
            class="row g-3">
            <div class="col-md-6">
              <label for="name" class="form-label">資格・成果物・実績</label>
              <input type="text" class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
                id="name" name="name" th:value="*{name}">
              <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
            </div>
            <div class="col-md-6">
              <label for="memo" class="form-label">memo（github urlなど）</label>
              <input type="text" class="form-control" th:classappend="${#fields.hasErrors('memo')} ? 'is-invalid' : ''"
                id="memo" name="memo" th:value="*{memo}">
              <div th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}" class="invalid-feedback"></div>
            </div>
            <div class="col-12 d-flex justify-content-between px-4">
              <a class="btn btn-outline-primary" th:href="@{/archievement}">
                戻る
              </a>
              <button class="btn btn-primary" type="submit">登録</button>
            </div>
          </form>
        </div>
      </main>
    </div>
  </div>
</body>
<div th:replace="/layout :: script"></div>

</html>
